.myHeader {
  width: 99.2vw;
  height: 100vh;
}
.navbar-brand {
  color: white;
  text-shadow: rgb(10, 10, 248) 1.5px 1.5px;
  padding-left: 5px;
  display: inline-block;
  text-decoration: none;
  text-align: right;
}
#myIcon, .card-footer a
{
  font-size: 1em;
  color: white;
}
.footer {
  color: antiquewhite;
}
.footer p {
  text-align: center;
  margin: 0;
  padding: 15px;
}
#myCard, #myCardHeader
{
  border-top-left-radius: 1.5rem;
  border-top-right-radius: 1.5rem;
}
#myCard, #myCardFooter
{
  border-bottom-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
#myDivImg
{

  display: none;
}
@media(min-width: 990px)
{
  #myDivImg
  {
    display: block;
  }
  #myImg
  {
  width: 35vw;
  height: 45vh;
  margin-top: 3em;
  margin-left: 3em;
  }
  #myCardFooter
  {
    text-align: center;
    display: inline-block;
    justify-items: center;
  }
}